<!DOCTYPE html>
<html>
<head>
    <title>Select Country & Language</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h2>Select Country & Language</h2>

    <label>Country</label>
    <select id="country">
        <option>India</option>
        <option>USA</option>
        <option>UK</option>
        <option>Germany</option>
        <option>UAE</option>
    </select>

    <label>Language</label>
    <select id="language">
        <option>English</option>
        <option>Tamil</option>
        <option>Hindi</option>
        <option>Spanish</option>
        <option>French</option>
    </select>

    <button onclick="goSupport()">Continue</button>
</div>

<script src="/static/script.js"></script>
</body>
</html>
